<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458249145987-2loqmufpd8qchlcofularkfm7v5q77jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458249145987-2loqmufpd8qchlcofularkfm7v5q77jc</string>
	<key>API_KEY</key>
	<string>AIzaSyCxSkdipt8QBmBQarjSeGoCXf-oAICuz9g</string>
	<key>GCM_SENDER_ID</key>
	<string>458249145987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hansz.leadershipRPG</string>
	<key>PROJECT_ID</key>
	<string>leadership-project-6db48</string>
	<key>STORAGE_BUCKET</key>
	<string>leadership-project-6db48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458249145987:ios:0a361c46f5d2fe83ad55b6</string>
</dict>
</plist>